@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  background: #171717;
}
.navbar-dark .navbar-nav .nav-link {
  color: #d288a2;
  font-family: "Teko";
  font-size: 35px;
}

.bg-dark {
  background: #171717;
}

.home-pg {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #fdfbf9;
}

.resume {
  width: 1000px;
  height: 100vh;
  float: left;
  background: #fdfbf9;
}

.background-pic {
  width: 1000px;
  height: 100vh;
  float: right;
}

.bg-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
}

.resume h1 {
  color: #d288a2;
  font-family: "Teko";
  font-size: 35px;
  margin-top: 20px;
}

Button {
  width: 250px;
  font-family: "Teko";
  margin: 1rem auto;
  float: right;
  margin-top: 100px;
}

.btn-dark {
  font-size: 30px;
  align-self: start;
  color: #d288a2;
  margin-right: 350px;
}
.access {
  position: absolute;
  top: 50%;
  left: 10%;
}
.about-pg {
  background: #171717;
  width: 100vw;
  height: 100vh;
  border-top: 10px solid #d288a2;
}

.scrollUp {
  background: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 10px;
  float: right;
  position: sticky;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.scrollUp i {
  color: #d288a2;
  font-size: 50px;
  font-weight: bold;
}

.within-bout {
  display: flex;
}

.about-pg .resume-btn {
  display: block;
  float: right;
  width: 800px;
  height: 20vh;
}

.about-pg p {
  padding: 5px;
  color: #fdfbf9;
  font-size: 30px;
  font-family: "Teko";
  float: left;
  width: 800px;
  height: 30vh;
  margin: 20px;
}

.projects-pg {
  background: #171717;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contacts-pg {
  background: #171717;
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
}
.btn-primary {
  color: #fdfbf9;
  background: #171717;
  border: 2px solid #d288a2;
  margin: 10px;
  margin-right: 35px;
  font-size: 24px;
  font-family: "Teko";
}

.btn-primary:hover {
  background: #fdfbf9;
  border: 2px solid #d288a2;
}
h1 {
  color: #fdfbf9;
  font-size: 50px;
  font-family: "Teko";
  text-align: center;
  letter-spacing: 0.1rem;
}

.project-cards {
  display: flex;
  margin-top: 70px;
  margin: 1rem auto;
  height: 600px;
  width: 80%;
}
.projects-pg a {
  text-decoration: none;
  color: #d288a2;
  font-family: "Teko";
}

.projects-pg .card {
  background: transparent;
  color: #fdfbf9;
  display: flex;
  margin: 10px;
  height: 500px;
  box-shadow: 5px 5px 5px black;
  font-family: "Teko";
}
.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  height: 250px;
}

.contact-form {
  width: 1200px;
  height: 90vh;
  margin: 1rem auto;
  box-shadow: 5px 5px 5px 5px black;
}
.contact-me {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact-me input {
  width: 500px;
  height: 40px;
  margin: 10px;
  margin: 1rem auto;
  margin-top: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  border-bottom: 4px solid #d288a2;
  border-right: 2px solid #d288a2;
  background: transparent;
  color: #fdfbf9;
  font-family: "Teko";
  font-size: 24px;
  padding: 10px;
}

.contact-me textarea {
  background: transparent;
  height: 300px;
  width: 600px;
  margin: 1rem auto;
  padding: 5px;
  outline: none;
  border: none;
  border: 2px solid #d288a2;
  font-size: 24px;
  color: #fdfbf9;
  font-family: "Teko";
  border-radius: 10px;
}

.contact-me button {
  background: transparent;
  font-family: "Teko";
  font-size: 30px;
  border: none;
  border-radius: 5px;
  border: 2px solid #d288a2;
  padding: 5px;
  color: #d288a2;
  width: 250px;
  height: 65px;
  letter-spacing: 0.1rem;
  margin-top: 55px;
}

.contact-me button:hover {
  transform: scale(1.05);
  background: #fdfbf9;
}

.glitch{
  position: absolute;
  top: 90%;
  left: 23%; 
  text-align: center;
  color: #d288a2;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Teko"; 
  text-shadow:0.05em 0 0 #171717, -0.025em -0.05em 0 black, 0.025em 0.05em 0 grey;
  animation: glitch infinite 600ms;
}

span{
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child{
  animation: glitch infinite 700ms;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: .7;
}

.glitch span:last-child{
  animation: glitch infinite 400ms;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(-0.025em, -0.0125em);
  opacity: .7;
}
 

@keyframes glitch{
  0% {
     text-shadow:
       0.05em 0 0 #171717, 
       -0.05em -0.025em 0 black, 
       -0.025em 0.05em 0 grey;
  }

  
    15% {
   text-shadow: 
     -0.05em -0.025em 0 #171717,
     0.025em 0.025em 0 black, 
     -0.05em -0.05em 0 grey;
  }
  
      50% {
   text-shadow: 
     0.025em 0.05em 0 #171717,
     0.05em 0 0 black, 
    0 -0.05em 0 grey;
  }
  

  100% {
   text-shadow: 
     -0.025em 0 0 #171717, 
     -0.025em -0.025em 0 black, 
    -0.025em -0.05em 0 grey;
  }
  
  
}


.image{
  display: flex;
  width: 250px;
  height: 100px;
  color: #fdfbf9;
  font-size: 60px;
  padding: 50px;
  margin: 20px;
  cursor: pointer;
  margin: 1rem auto;
  margin-top: -40px;
}

.image a{
z-index: 1;
font-size: 16px;
margin-left: 15px; 
text-direction: none;
color:#fdfbf9;  
}

.linked{
  display: flex;
  flex-direction: column;
  margin-left: -60px;
}

.git{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}


.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: 5px;
}
.fa-linkedin:hover {
    background-color: #d288a2;
}


.fa-github {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
  cursor: pointer;
  border: none;
}
.fa-github:hover {
    background-color: #d288a2;
}

.viewResume{
background: #171717;
color: #fdfbf9;
}
